<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">description</i>
                        </div>
                        <h4 class="card-title">Order Information</h4>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <h4>Order Details</h4>
                        </div>

                        <table class="table table-bordered table-sm">
                            <thead class="bg-default">
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>Oredr ID</td>
                                <td class="text-left">
                                 {{order?.id}}
                                </td>
                              </tr>
                              <tr>
                                <td>Created By</td>
                                <td class="text-left">
                                    {{order?.supplierName}}
                                </td>
                              </tr>
                              <tr>
                                <td>Order Date</td>
                                <td class="text-left">
                                    {{order?.orderDate}}
                                </td>
                              </tr>
                              <tr>
                                <td>Total Cost</td>
                                <td class="text-left">
                                    {{order?.totalCost}} LKR
                                </td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td class="text-left">
                                 <span class="badge badge-warning" *ngIf="order?.deliveryStatus == 'PENDING'">PENDING</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="row">
                            <h4>Requested Materials</h4>
                        </div>

                        <table class="table table-bordered table-sm">
                            <thead class="bg-default">
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{order?.materialName}}</td>
                                <td class="text-left">
                                    {{order?.quantity}}  {{order?.quanitiyType}}
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>

                          <div class="row">
                            <h4>Site Information</h4>
                        </div>

                        <table class="table table-bordered table-sm">
                            <thead class="bg-default">
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>Site ID</td>
                                <td class="text-left">
                                    {{order?.siteId}}
                                </td>
                              </tr>
                              <tr>
                                <td>Manager Name</td>
                                <td class="text-left">
                                    {{order?.siteMangerFirstName}}  {{order?.siteManagerLastName}}
                                </td>
                              </tr>
                              
                              <tr>
                                <td>Location</td>
                                <td class="text-left">
                                    {{order?.address}}
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>

                        
                      
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">description</i>
                        </div>
                        <h4 class="card-title">Quotation Details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-sm">
                            <thead class="bg-default">
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>Supplier ID</td>
                                <td class="text-left">
                                 {{order?.supplierName}}
                                </td>
                              </tr>
                              <tr>
                                <td>Supplier Name</td>
                                <td class="text-left">
                                    {{order?.supplierName}}
                                </td>
                              </tr>
                              <tr>
                                <td>Address</td>
                                <td class="text-left">
                                    {{order?.address}}
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>

                          <hr>

                          <table class="table table-bordered table-sm">
                            <thead class="bg-default">
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>Estimate Cost</td>
                                <td class="text-left">
                                 {{order?.totalCost}} LKR
                                </td>
                              </tr>
                              <tr>
                                <td>Date</td>
                                <td class="text-left">
                                    {{order?.deliveryDate}}
                                </td>
                              </tr>
                              <tr>
                                <td>Unit Cost</td>
                                <td class="text-left">
                                    {{order?.totalCost / order?.quantity}} LKR
                                </td>
                              </tr>
                              <tr>
                                <td>Quantity</td>
                                <td class="text-left">
                                    {{ order?.quantity}}
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>
                          <div class="row">
                            <div class="text-center"
                            >
                            <button class="btn btn-sm btn-danger ml-5" (click)="changeStatus(0)">Reject</button>
                            <button class="btn btn-sm btn-success ml-1" (click)="changeStatus(1)">Approve</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>