<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <h4 class="card-title">Employee Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar"></div>
                        <div class="material-datatables">
                            <table id="dataTable" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.footerRow[3] }}</th>
                                        <th>{{ dataTable.footerRow[4] }}</th>
                                        <th>{{ dataTable.footerRow[5] }}</th>
                                        <th>{{ dataTable.footerRow[6] }}</th>
                                        <th class="disabled-sorting text-center">
                                            {{ dataTable.headerRow[7] }}
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.footerRow[3] }}</th>
                                        <th>{{ dataTable.footerRow[4] }}</th>
                                        <th>{{ dataTable.footerRow[5] }}</th>
                                        <th>{{ dataTable.footerRow[6] }}</th>
                                    
                                        <th class="disabled-sorting text-center">
                                            {{ dataTable.headerRow[7] }}
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let row of dataTable.dataRows">
                                        <td>{{ row.firstName }}</td>
                                        <td>{{ row.lastName }}</td>
                                        <td>{{ row.email }}</td>
                                        <td>{{ row.nic }}</td>
                                        <td>{{ row.mobile }}</td>
                                        <td><span *ngIf= "row.roleId == 1">ADMIN</span>
                                            <span *ngIf= "row.roleId == 2">MANAGER</span>
                                            <span *ngIf= "row.roleId == 3">SUPPLIER</span></td>
                                        <td><span *ngIf= "row.isActive == true">ACTIVE</span>
                                            <span *ngIf= "row.isActive == false">DISABLED</span></td>
                                        <td class="text-center">
                                            <a class="btn btn-link btn-success btn-just-icon edit"><i
                                                    class="material-icons" (click)="editUser(row._id)">edit</i></a>
                                            <a class="btn btn-link btn-danger btn-just-icon remove"
                                                (click)="deleteUSer(row._id)"><i class="material-icons">close</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>